<h1>Messages</h1>
<table class="table table-striped">
  <tr>
    <th>Chemical</th>
    <th>Type</th>
    <th>Text</th>
    <th>Date</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.chemical.name %></td>
      <td><%= message.kind %></td>
      <td><%= message.text %></td>
      <td><%= message.created_at.to_formatted_s(:long) %></td>
    </tr>
  <% end %>
</table>


