  <p>
    <strong>Username: </strong>
    <%= @user.username %>
  </p>
 
  <p>
    <strong>Name: </strong>
    <%= @user.name %>
  </p>
  
  <p>
    <strong>Admin: </strong>
    <% if @user.admin %>
      true
    <% else %>
      false
    <% end %>
  </p>
  <td><%= link_to 'Back', users_path %></td>

