  <p>
    <strong>Username:</strong><br>
    <%= @user.username %>
  </p>
 
  <p>
    <strong>Name:</strong><br>
    <%= @user.name %>
  </p>
  
  <p>
    <strong>Admin:</strong><br>
    <%= @user.admin %>
  </p>

